.testimony-container {
  width: 1170px;
  height: 368px;
  margin: 10px 10px 50px;/*falta el4to valor que copia al segundo, porque lo toma como arriba-derecha-abajo-izquierda*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0/ 9%);
}

.img-testimony {
  height: 100%;/*para que tenga el 100% de altura del contenedor*/
  width: auto;
}


.text-testimony-container {
  text-align: center;
  padding: 40px;
  font-family: Lato, sans-serif; /*si no reconoce Lato, toma sans serif*/
  font-weight: 400; /*para que sea mas delgado que el texto del titulo*/
  line-height: 1.5rem; /*para que haya mas separacion entre las lineas y no esten tan pegadas*/
}

.testimony-name-country{
  font-size: 1.3rem;/*multiplica el tamaño de font raiz por 1.3*/
  padding-bottom: 20px;
}

.testimony-job-position{
  font-size: 1.3rem;
  margin-top: 15px;
  padding-bottom: 20px;
}

.testimony-text{
  font-size: 1.1rem;
  text-align: justify;
}